<html lang="en-US">
<head>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="profile" href="http://gmpg.org/xfn/11" />
	<link rel="pingback" href="https://emilygrace.pixandhue.com/xmlrpc.php" />

			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" 
            crossorigin="anonymous">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Prompt">

<link href="css/css1.css" rel="stylesheet">
<LINK REL="SHORTCUT ICON" HREF="pic/overlogo.ico" >
	<title>WANWIOLA</title>
	<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="alternate" type="application/rss+xml" title="Emily Grace &raquo; Feed" href="https://emilygrace.pixandhue.com/feed/" />
<link rel="alternate" type="application/rss+xml" title="Emily Grace &raquo; Comments Feed" href="https://emilygrace.pixandhue.com/comments/feed/" />
		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/13.0.0\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/13.0.0\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/emilygrace.pixandhue.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.5.1"}};
			!function(e,a,t){var r,n,o,i,p=a.createElement("canvas"),s=p.getContext&&p.getContext("2d");function c(e,t){var a=String.fromCharCode;s.clearRect(0,0,p.width,p.height),s.fillText(a.apply(this,e),0,0);var r=p.toDataURL();return s.clearRect(0,0,p.width,p.height),s.fillText(a.apply(this,t),0,0),r===p.toDataURL()}function l(e){if(!s||!s.fillText)return!1;switch(s.textBaseline="top",s.font="600 32px Arial",e){case"flag":return!c([127987,65039,8205,9895,65039],[127987,65039,8203,9895,65039])&&(!c([55356,56826,55356,56819],[55356,56826,8203,55356,56819])&&!c([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]));case"emoji":return!c([55357,56424,8205,55356,57212],[55357,56424,8203,55356,57212])}return!1}function d(e){var t=a.createElement("script");t.src=e,t.defer=t.type="text/javascript",a.getElementsByTagName("head")[0].appendChild(t)}for(i=Array("flag","emoji"),t.supports={everything:!0,everythingExceptFlag:!0},o=0;o<i.length;o++)t.supports[i[o]]=l(i[o]),t.supports.everything=t.supports.everything&&t.supports[i[o]],"flag"!==i[o]&&(t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&t.supports[i[o]]);t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&!t.supports.flag,t.DOMReady=!1,t.readyCallback=function(){t.DOMReady=!0},t.supports.everything||(n=function(){t.readyCallback()},a.addEventListener?(a.addEventListener("DOMContentLoaded",n,!1),e.addEventListener("load",n,!1)):(e.attachEvent("onload",n),a.attachEvent("onreadystatechange",function(){"complete"===a.readyState&&t.readyCallback()})),(r=t.source||{}).concatemoji?d(r.concatemoji):r.wpemoji&&r.twemoji&&(d(r.twemoji),d(r.wpemoji)))}(window,document,window._wpemojiSettings);
		</script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}


body {font-family: 'Kanit', sans-serif;
}

.fa:hover {
    opacity: 0.7;
}

.haed {
  padding: 60px;
  text-align: center;
  columns: #ffffff;;
  background: #ffebe0;
  font-family: 'Kanit', sans-serif
}
.body2 {
	padding: 50px	;
	background: #ffffff;

}

.tab {
  overflow: hidden;
  border: 1px solid #f7e4d5;
  background-color: #fff4f0;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #fee6dc;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}



* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color:#fff3a1;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */


.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 10.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
.detail-left-area{float: left;width:63%;padding-right:2%;box-sizing:border-box;}.xans-product-detail .detail-left-area.neker-left-area .nav-tab-container li{width:33.3%;}.xans-product-detail .detail-left-area.neker-left-area .nav-tab-container li:nth-child(2){display: none;}
</style>
	
</style>
<link rel='stylesheet' id='font-awesome-css-css'  href='https://emilygrace.pixandhue.com/wp-content/themes/emily-grace/css/font-awesome.min.css?ver=5.5.1' type='text/css' media='all' />
<link rel='stylesheet' id='emgrace-style-css'  href='https://emilygrace.pixandhue.com/wp-content/themes/emily-grace/style.css?ver=5.5.1' type='text/css' media='all' />
<link rel='stylesheet' id='emgrace-responsive-css'  href='https://emilygrace.pixandhue.com/wp-content/themes/emily-grace/css/responsive.css?ver=5.5.1' type='text/css' media='all' />
<link rel='stylesheet' id='emgrace-google-fonts-css'  href='//fonts.googleapis.com/css?family=Montserrat%3A300%2C300i%2C500%2C600%2C700' type='text/css' media='all' />
<script type='text/javascript' src='https://emilygrace.pixandhue.com/wp-includes/js/jquery/jquery.js?ver=1.12.4-wp' id='jquery-core-js'></script>
<script type='text/javascript' src='https://emilygrace.pixandhue.com/wp-content/plugins/emily-grace-elements/js/emily-grace-elements.js?ver=1' id='emgrace-elements-scripts-js'></script>
<script type='text/javascript' src='https://emilygrace.pixandhue.com/wp-content/plugins/instagram-widget-by-wpzoom/js/jquery.lazy.min.js?ver=1.4.2' id='zoom-instagram-widget-lazy-load-js'></script>
<script type='text/javascript' src='https://emilygrace.pixandhue.com/wp-content/plugins/instagram-widget-by-wpzoom/js/instagram-widget.js?ver=1.6.0' id='zoom-instagram-widget-js'></script>
<link rel="https://api.w.org/" href="https://emilygrace.pixandhue.com/wp-json/" /><link rel="alternate" type="application/json" href="https://emilygrace.pixandhue.com/wp-json/wp/v2/pages/159" /><link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://emilygrace.pixandhue.com/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://emilygrace.pixandhue.com/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 5.5.1" />
<meta name="generator" content="WooCommerce 4.4.1" />
<link rel="canonical" href="https://emilygrace.pixandhue.com/" />
<link rel='shortlink' href='https://emilygrace.pixandhue.com/' />
<link rel="alternate" type="application/json+oembed" href="https://emilygrace.pixandhue.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Femilygrace.pixandhue.com%2F" />
<link rel="alternate" type="text/xml+oembed" href="https://emilygrace.pixandhue.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Femilygrace.pixandhue.com%2F&#038;format=xml" />
<link href="https://fonts.googleapis.com/css2?family=Mali:wght@300&family=Prompt:wght@300;500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&display=swap" rel="stylesheet">
	<style class="eg-typography-inline-css" type="text/css"> 
		
			@font-face{ font-family:'Paris Script'; src:url('https://emilygrace.pixandhue.com/wp-content/uploads/2020/04/ParisScript-Regular.woff') format('woff'); font-weight: normal; font-style: normal; }
			

	</style>

    	
	<style class="emgrace-customizer-styles" type="text/css"> 

			
	</style>
    	<noscript><style>.woocommerce-product-gallery{ opacity: 1 !important; }</style></noscript>
			<style type="text/css" id="wp-custom-css">
			/* Custom Typography Page */


/* -- Responsive Styles -- */
	

/*#rl-gallery-container-1 .rl-basicmasonry-gallery {
padding: 0 !important; }
.nivo-lightbox-theme-default.nivo-lightbox-overlay {
	background: rgba(0, 0, 0, .8)
}
.page-id-4484 .emgrace-post-footer {
display: none; }

/* Temporarily Hide the Product Galleries from WooCommerce
.woocommerce-product-gallery .gallery-columns-3 {
	display: none;
}*/		</style>
			<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-76770541-11"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-76770541-11');
	</script>

</head>	

<img src="pic/head.jpg" width="1500px">
<body class="archive post-type-archive post-type-archive-product theme-emily-grace woocommerce woocommerce-page woocommerce-no-js elementor-default" >

  <form action="/auth2" method="POST">
    <input type="submit" value="submit"></form>
</div>


    
<header>
	<nav class="navbar navbar-expand-md navbar-dark fixed-top " style="background-color: #f5efed;">
	  <a class="navbar-brand" href="/home"><img src="pic/logowan.png" width="150px"></a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarCollapse">
		<ul class="navbar-nav mr-auto">
		  <li class="nav-item active">
			<a class="nav-link" href="/home"  style="color: #000000;font-family: 'Kanit', sans-serif">หน้าหลัก <span class="sr-only">(current)</span></a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/about"  style="color: #000000;font-family: 'Kanit', sans-serif">about us</a>
		  </li>
		  <li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" style="color: #000000;font-family: 'Kanit', sans-serif">product</a>
			<div class="dropdown-menu">
			  <a class="dropdown-item" href="/product1" style="background-color:#f5efed ;">wiola - detox</a>
				  <a class="dropdown-item" href="/product2" style="background-color:#f5efed ;">wiola - collagen</a>
		
			</div>
		  </li>
		  <li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" style="color: #000000;font-family: 'Kanit', sans-serif">shop media</a>
			<div class="dropdown-menu">
			  <a class="dropdown-item" href="https://www.instagram.com/wanwiola/?igshid=1xyogx2mzbwhz" style="background-color:#f5efed ;">ig</a>
			  <a class="dropdown-item" href="https://shopee.co.th/wanwiola.official?smtt=0.0.9" style="background-color: #f5efed ;" >shopee</a>
			</div>
		  </li>
		  <li class="nav-item">
			<a class="nav-link " href="/order"  style="color: #000000;font-family: 'Kanit', sans-serif">order</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link " href="/contact"  style="color: #000000;font-family: 'Kanit', sans-serif">contact us</a>
		  </li>
		</ul>
		<form class="form-inline mt-2 mt-md-0">
		  <%if (isLoggedIn==false) { %>
        <a href="/register">  <button type="button" class="w3-button w3-black w3-round-xlarge" style="background: #fdd900;color: dimgray;font-family: 'Kanit', sans-serif ; border-color: #fdd900;">สมัครสมาชิก </a> </button> &nbsp; &nbsp;
        <a href="/login"> <button type="button" class="w3-button  w3-round-xlarge" style="background: #fdd900;color: dimgray;font-family: 'Kanit', sans-serif ; border-color: #fdd900;">เข้าสู่ระบบ</a></button>
        <% } %>
        <%if (isLoggedIn) { %>
        <a href="/profile">  <button type="button" class="w3-button w3-black w3-round-xlarge" style="background: #fdd900;color: dimgray;font-family: 'Kanit', sans-serif ; border-color: #fdd900;"><%= username %> </a> </button> &nbsp; &nbsp;
        <% } %>
		</form>
	  </div>
	</nav>
  </header>
                        <body>
 <!--		เนื้อหา </div>
 -->
<div class="container">
 <br>
 <br>
   
 <a href="/home">
     <img src="pic/logowan.png" width="200px">
    </a>
</div>
<hr>

 
 <!-- Product Detail Start -->
 

<div class="container">
 <div class="tab">
    <button class="tablinks" onclick="openCity(event, 'Detox')">Detox</button>
    <button class="tablinks" onclick="openCity(event, 'Collagen')">Collagen</button>
   
  </div>
  
  <div id="Detox" class="tabcontent">
    <div class="row">
        <div class="col-sm-5">

<div class="container">
  <div class="mySlides">
    <div class="numbertext">1 / 4</div>
    <img src="pic/proo.jpg" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">2 / 4</div>
    <img src="pic/proo1.jpg" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">3 / 4</div>
    <img src="pic/proo2.jpg" style="width:100%">
  </div>
    
  <div class="mySlides">
    <div class="numbertext">4 / 4</div>
    <img src="pic/proo3.jpg" style="width:100%">
  </div>
    
  <a class="prev" onclick="plusSlides(-1)">❮</a>
  <a class="next" onclick="plusSlides(1)">❯</a>

  <div class="caption-container">
    <p id="caption"></p>
  </div>

  <div class="row">
    <div class="column">
      <img class="demo cursor" src="pic/proo.jpg" style="width:100%" onclick="currentSlide(1)" >
    </div>
    <div class="column">
      <img class="demo cursor" src="pic/proo1.jpg" style="width:100%" onclick="currentSlide(2)" >
    </div>
    <div class="column">
      <img class="demo cursor" src="pic/proo2.jpg" style="width:100%" onclick="currentSlide(3)" >
    </div>
    <div class="column">
      <img class="demo cursor" src="pic/proo3.jpg" style="width:100%" onclick="currentSlide(4)" >
    </div>
  </div>
</div>
</div>
            <div class="col-sm-3">
<h1 style="color: #ffe017;font-family: 'Kanit', sans-serif;">Detox</h1>
<p style="font-family: 'Kanit', sans-serif;">ผลิตภัณฑ์อาหารเสริมดีท็อกล้างลำไส้ก็เพื่อทำความสะอาดและขจัดสิ่งสกปรก ของเสีย รวมทั้งสารพิษที่ตกค้างในลำไส้ออก</p>
<form class="cart" action="/order" method="post">
            
    <div class="quantity">
        <label class="screen-reader-text" for="quantity_5fb347102f3de">Rustic Knit Pieces quantity</label>
        <input
    type="number"
    id="quantity_5fb347102f3de"
    class="input-text qty text"
    step="1"
    min="1"
    max=""
    name="quantity"
    value="1"
    title="Qty"
    size="4"
    placeholder=""
    inputmode="numeric"
    />
    <input type="hidden" name="pid" value="1">
    <input type="hidden" name="pname" value="DETOX">
    <input type="hidden" name="p_type" value="1">
    <input type="hidden" name="imgurl" value="proo.jpg">
    <input type="hidden" name="uid" value="<%= session_id %>">
    


  <input type="submit" value="Add to cart">
    </div>
<br>
<a href="/login"><button type="button" class="w3-button  w3-round-xlarge"  style="background: #ffe017;border-color:#ffe017;font-family: 'Kanit', sans-serif">Add to cart</button> </a>

    </form>


</div>
</div>
</div>
        
   
  
  <div id="Collagen" class="tabcontent">
  
      <div class="row">
        <div class="col-sm-5">
  
  <div class="container">
  <div class="mySlides">
    <div class="numbertext active">1 / 4</div>
    <img src="pic/col1.jpg" style="width:100%">
  </div>
  
  <div class="mySlides">
    <div class="numbertext">2 / 4</div>
    <img src="pic/col2.jpg" style="width:100%">
  </div>
  
  <div class="mySlides">
    <div class="numbertext">3 / 4</div>
    <img src="pic/col3.jpg" style="width:100%">
  </div>
    
  
  <a class="prev" onclick="plusSlides(-1)">❮</a>
  <a class="next" onclick="plusSlides(1)">❯</a>
  
  <div class="caption-container">
    <p id="caption"></p>
  </div>
  
  <div class="row">
    <div class="column">
      <img class="demo cursor" src="pic/col1.jpg" style="width:100%" onclick="currentSlide(1)" >
    </div>
    <div class="column">
      <img class="demo cursor" src="pic/col2.jpg" style="width:100%" onclick="currentSlide(2)" >
    </div>
    <div class="column">
      <img class="demo cursor" src="pic/col3.jpg" style="width:100%" onclick="currentSlide(3)" >
    </div>
  </div>
  </div>
  </div>
                <div class="col-sm-3">
    <h1 style="color: #ffe017;font-family: 'Kanit', sans-serif;">Collagen</h1>
    <p style="font-family: 'Kanit', sans-serif;">ผลิตภัณฑ์อาหารเสริมคอลลาเจน กระตุ้นการสร้างเซราไมด์ที่ชั้นผิวหนัง ป้องกันการสูญเสียน้ำที่ชั้นผิว ทำให้ผิวชุ่มชื้นขึ้น ลดการระคายเคือง ที่ผิวหนัง ทำให้ผิวดูมีสุขภาพดี กระจ่างใสยิ่งขึ้น</p>
    <form class="cart" action="/order" method="post">
                
        <div class="quantity">
            <label class="screen-reader-text" for="quantity_5fb347102f3de">Rustic Knit Pieces quantity</label>
            <input
        type="number"
        id="quantity_5fb347102f3de"
        class="input-text qty text"
        step="1"
        min="1"
        max=""
        name="quantity"
        value="1"
        title="Qty"
        size="4"
        placeholder=""
        inputmode="numeric"
        />
        <input type="hidden" name="pid" value="2">
        <input type="hidden" name="pname" value="Collagen">
        <input type="hidden" name="p_type" value="2">
        <input type="hidden" name="imgurl" value="ส้มม.jpg">
        <input type="hidden" name="uid" value="<%= session_id %>">
        
    
    
      <input type="submit" value="Add to cart">
        </div>
    <br>
    <a href="/login"><button type="button" class="w3-button  w3-round-xlarge"  style="background: #ffe017;border-color:#ffe017;font-family: 'Kanit', sans-serif">Add to cart</button> </a>
    
        </form>
    
    
    </div>
    </div>
                </div>
            
  

test <a href="/cart">CART2</a>
<div class="row">
  <div class="col-2"></div>
  <div class="col-10">
    <!-- <% for(var i=0; i < productlist.length; i++) { %>

    ####################################### <br>
      <%= productlist[i].P_name %><br>
      <%= productlist[i].P_pirce %><br>
      <%= productlist[i].p_description %><br>
      <img src="pic/<%= productlist[i].imgurl %>" width="100px" alt=""> <--- This <br>
  <% } %> 
  <br> -->
  <div style="display:inline-flex;">
  <% for(var i=0; i < productlist.length; i++) { %>
  <div class="card" style="width: 18rem;padding: 10px 10px 10px 10px;margin: 10px 10px 10px 10px;">
    <img class="card-img-top" src="pic/<%= productlist[i].imgurl %>" width="200px" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= productlist[i].P_name %></h5>
      <p class="card-text"><%= productlist[i].p_description %></p>
      <a href="#" class="btn btn-primary">Add to cart</a>
    </div>
  </div>
  <% } %> 
  </div>
</div>
  <div class="col-2"></div>
</div>




  <script>
    function openCity(evt, cityName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
    }

    var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
    </script>
           </div><!-- .sliderControlls -->
    </div>
        </div><!-- end product image -->
        
        
       
      <!-- รูปเสริม -->
<br><br>

      <marquee direction="lefe" scrollamount="6" > <img src="pic/pro1.jpg" width="200px">
        <img src="pic/pro2.jpg" width="200px"> <img src="pic/pro3.jpg"  width="200px">
    </marquee>
    
    <br>
    <br>
<!-- Footer -->



<footer  style="background:	#fcf4f3;">
	<br><br>
	<div class="container text-center text-md-left mt-5">

		<!-- Grid row -->
		<div class="row mt-3">
	
		  <!-- Grid column -->
		  <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
	
			<!-- Content -->
			<h6 class="text-uppercase font-weight-bold">WANWIOLA</h6>
			<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
			<p style="color: #d69588;"> &copy; บริษัท ผลิตภัณฑ์อาหาร เสริมแบรนด์ วันวิโอลา จำกัด</p>
	
		  </div>
		 
	
		  <!-- Grid column -->
		  <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
	
			<!-- Links -->
			<h6 class="text-uppercase font-weight-bold">Products</h6>
			<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
			<p>
			  <a href="#!">WIOLA - Detox</a>
			</p>
		
	
		  </div>
		
	
		  <!-- Grid column -->
		  <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
	
			<!-- Links -->
			<h6 class="text-uppercase font-weight-bold">Useful links</h6>
			<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
			<p>
			  <a href="/about">About us</a>
			</p>
			<p>
			  <a href="#!">Shop Media</a>
			</p>
			<p>
			  <a href="/review">รีวิว</a>
			</p>
			
	
		  </div>

	
		  <!-- Grid column -->
		  <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
	
			<!-- Links -->
			<h6 class="text-uppercase font-weight-bold">Contact</h6>
			<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
			<p>
			  <i class="fas fa-home mr-3"></i> bangkok, 2020, TH</p>
			<p>
			  <i class="fas fa-envelope mr-3"></i> wanwiola.official@gmail.com</p>
			<p>
			  <i class="fas fa-phone mr-3"></i> + 08 639 233 94</p>
			<p>
			  <i class="fas fa-print mr-3"></i> + 08 193 252 59</p>
	
		  </div>
		  <!-- Grid column -->
	
		</div>
		<!-- Grid row -->
	
	  </div>
    <br>
    <center>
	 <a href="https://www.instagram.com/wanwiola/?igshid=1xyogx2mzbwhz"><img src="https://www.flaticon.com/svg/static/icons/svg/2111/2111463.svg" width="22px"> 
	<img src="https://www.flaticon.com/svg/static/icons/svg/145/145802.svg" width="22px">
	<img src="https://www.flaticon.com/svg/static/icons/svg/733/733579.svg" width="22px">
	<img src="https://www.flaticon.com/svg/static/icons/svg/1384/1384060.svg" width="22px"><br><br></a>
	<p>© 2020 · The Wanwiola Company </p>
	<br><br><br></center>
  </footer>
 
     
</body>

										</html>
										